:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: oklch(100% 0.00011 271.152 / 0.87);
  background-color: oklch(26.033% 0.00003 271.152);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 2.75em;
  line-height: 1.1;
  text-shadow: oklch(0% 0 0 / 0.25) 0px 10px 30px;
}

h2 {
  font-size: 2em;
  margin: 0;
  text-shadow: oklch(0% 0 0 / 0.25) 0px 4px 12px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* violet color */
  border-color: oklch(43% 0.16 305);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 32px;
  width: clamp(300px, 80vw, 1200px);

  .neighbourhood {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .day-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding-bottom: 3em;

      input {
        width: 80px;
        padding: 8px;
        font-size: 1em;
        border-radius: 8px;
        border: 1px solid oklch(38.666% 0.00004 271.152);
        background-color: oklch(21.779% 0.00002 271.152);
        color: inherit;
        text-align: center;
      }
    }

    .houses {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center;

      .house {
        border: 1px solid oklch(38.666% 0.00004 271.152);
        border-radius: 8px;
        padding: 16px;
        width: clamp(200px, 30vw, 300px);
        background-color: oklch(21.779% 0.00002 271.152);
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          align-self: center;
        }

        button {
          align-self: center;
        }

        p {
          margin: 0.25rem;
          text-align: center;
        }
      }

      .house.visited {
        background-color: oklch(28.502% 0.00003 271.152);
      }
    }
  }
}
